[submodule "diy/lienol"]
	path = diy/lienol
	url = https://github.com/Lienol/openwrt-package.git
[submodule "diy/openclash"]
	path = diy/openclash
	url = https://github.com/vernesong/OpenClash.git
[submodule "diy/adguardhome"]
	path = diy/adguardhome
	url = https://github.com/rufengsuixing/luci-app-adguardhome.git
[submodule "diy/luci-theme-argon"]
	path = diy/luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
[submodule "diy/argontheme"]
	path = diy/argontheme
	url = https://github.com/jerrykuku/luci-theme-argon.git
